
body {
	font-size:20px;
	color:navy;
	font-family:arial;
}
.boxblue {
	width:150px;height:130px;
	border:2px solid navy;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	padding:0px;
	text-align:center;font-size:35px;
	padding-top:5px;
	margin-bottom:20px;margin-left:20px;
}
.box-noborder {
	width:150px;height:130px;
	border:2px solid white;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	padding:0px;
	text-align:center;font-size:35px;
	padding-top:15px;
	margin-bottom:20px;margin-left:20px;
	
}